{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "globals": {
    "document": true,
    "fetch": true,
    "localStorage": true
  },
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "max-len": [1, 300, { "tabWidth": 2, "ignoreComments": true }],
    "no-console": "off",
    "react/jsx-filename-extension": "off"
  }
}